@import url(https://fonts.googleapis.com/css?family=Onest:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Onest;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Onest;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
body {
  background-color: #12161c;
  color: #fff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 117.5rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.button {
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat;
  padding: 0 0;
  color: #ff4a4a;
  transition: all .3s
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0!important;
  font-size: 1.375rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: .625rem;
  padding-right: .625rem;
  width: 100%;
  display: block;
  border: 1px solid rgba(255,255,255,.1294117647);
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  line-height: 1.1;
  letter-spacing: -.09875rem
}
.title--red {
  color: #ff4a4a
}
.title-blue {
  color: #377de5
}
.title--blue {
  color: #377de5
}
[class*=__item] {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat
}
[class*=__item].about__item--red {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat;
  min-height: 26.25rem
}
[class*=__item].why__item--red {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat;
  min-height: 26.25rem
}
[class*=__item].enrollment__item--red {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat;
  min-height: 26.25rem
}
.text {
  line-height: 1.4;
  letter-spacing: -.01875rem
}
.text-red {
  color: #ff4a4a;
  transition: color .3s
}
.img-before-right::before {
  content: "";
  position: absolute;
  margin-right: -.0625rem;
  margin-bottom: -.0625rem;
  z-index: 5;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0,0 100%,100% 100%);
  clip-path: polygon(100% 0,0 100%,100% 100%);
  background: hsla(0,0%,0%,.75)
}
.img-before-left::before {
  content: "";
  position: absolute;
  margin-left: -.0625rem;
  margin-bottom: -.0625rem;
  z-index: 5;
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0,0 100%,100% 100%);
  clip-path: polygon(0 0,0 100%,100% 100%);
  background: hsla(0,0%,0%,.75)
}
.footer {
  text-align: center
}
.footer__container {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.875rem
}
.footer__link {
  line-height: 1.4;
  letter-spacing: -.3px;
  color: #fff;
  transition: color .3s
}
.footer__copy {
  line-height: 1.4;
  color: rgba(255,255,255,.4431372549)
}
.footer__copy-link {
  transition: color .3s
}
.hero__container {
  position: relative;
  display: flex
}
.hero__body {
  flex: 0 0 50%;
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  justify-content: space-between
}
.hero__img {
  position: relative;
  flex: 0 0 50%
}
.hero__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 920/800;
  -o-object-fit: cover;
  object-fit: cover
}
.logo {
  width: 10rem
}
.logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 160/43;
  -o-object-fit: contain;
  object-fit: contain
}
.about__container {
  display: flex;
  flex-wrap: wrap;
  position: relative
}
.career__container {
  display: flex
}
.career__img {
  position: relative;
  flex: 0 0 50%
}
.career__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 920/1127;
  -o-object-fit: cover;
  object-fit: cover
}
.career__body {
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat;
  flex: 0 0 50%;
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  justify-content: space-between
}
.why__block {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat
}
.why__body {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}
.why__item {
  flex: 1 1 40%
}
.benefits__container {
  display: flex
}
.benefits__body {
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat;
  flex: 0 0 50%;
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  justify-content: space-between
}
.benefits__item h3 {
  padding-left: 0
}
.benefits__img {
  position: relative;
  flex: 0 0 50%
}
.benefits__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 920/1587;
  -o-object-fit: cover;
  object-fit: cover
}
.enrollment__block {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat
}
.enrollment__body {
  background: url(../img/bgRed.svg) 0 0/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}
.enrollment__item {
  flex: 1 1 40%
}
.contact__container {
  display: flex
}
.contact__img {
  position: relative;
  flex: 0 0 50%
}
.contact__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 920/1145;
  -o-object-fit: cover;
  object-fit: cover
}
.contact__body {
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat;
  flex: 0 0 50%;
  display: flex;
  gap: 1.875rem;
  flex-direction: column;
  justify-content: space-between
}
.contact__link {
  transition: color .3s
}
.submit__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem
}
.submit__list {
  display: flex;
  flex-wrap: wrap
}
.submit__info {
  background: url(../img/bgBlue.svg) 0 0/cover no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  flex: 1 1 25%;
  color: #ff4a4a;
  transition: all .3s
}
.submit__massage {
  border: 1px solid rgba(255,255,255,.1294117647)
}
[class*=__item] {
  -webkit-transform: translate(0,10%);
  transform: translate(0,10%);
  opacity: .5;
  transition: all .2s
}
[class*=__item]._watcher-view {
  transition: all .8s;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
[class*=__img] {
  opacity: 0;
  transition: all .5s
}
[class*=__img]._watcher-view {
  transition: all 1.5s;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.button,
.submit__info {
  -webkit-transform: translate(0,10%);
  transform: translate(0,10%);
  opacity: .5;
  transition: all .2s
}
.button._watcher-view,
.submit__info._watcher-view {
  transition: all .8s;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
@media (min-width:117.5em) {
  .button {
    padding-top: 3.125rem
  }
  .button {
    padding-bottom: 3.125rem
  }
  .button {
    padding-left: 3.75rem
  }
  .button {
    padding-right: 3.75rem
  }
  .title {
    font-size: 4.9375rem
  }
  .title--margin {
    margin-left: -2.5rem
  }
  [class*=__title] {
    padding-top: 2.8125rem
  }
  [class*=__title] {
    padding-bottom: 2.8125rem
  }
  [class*=__title] {
    padding-left: 1.875rem
  }
  [class*=__title] {
    padding-right: 1.875rem
  }
  [class*=__item] {
    padding-top: 3.125rem
  }
  [class*=__item] {
    padding-bottom: 3.125rem
  }
  [class*=__item] {
    padding-left: 3.75rem
  }
  [class*=__item] {
    padding-right: 3.75rem
  }
  .text {
    font-size: 1.875rem
  }
  .img-before-right::before {
    width: 23rem
  }
  .img-before-right::before {
    height: 23rem
  }
  .img-before-left::before {
    width: 23rem
  }
  .img-before-left::before {
    height: 23rem
  }
  .footer__container {
    padding-top: 9.375rem
  }
  .footer__container {
    padding-bottom: 9.375rem
  }
  .footer__list {
    gap: 1.875rem
  }
  .footer__link {
    font-size: 1.875rem
  }
  .footer__copy {
    font-size: 1.5rem
  }
  .page__hero {
    padding-top: 2.5rem
  }
  .page__hero {
    padding-bottom: 1.25rem
  }
  .page__about {
    padding-top: 1.25rem
  }
  .page__about {
    padding-bottom: 1.25rem
  }
  .page__career {
    padding-top: 1.25rem
  }
  .page__career {
    padding-bottom: 1.25rem
  }
  .page__why {
    padding-top: 1.25rem
  }
  .page__why {
    padding-bottom: 1.25rem
  }
  .page__benefits {
    padding-top: 1.25rem
  }
  .page__benefits {
    padding-bottom: 1.25rem
  }
  .page__enrollment {
    padding-top: 1.25rem
  }
  .page__enrollment {
    padding-bottom: 1.25rem
  }
  .page__contact {
    padding-top: 1.25rem
  }
  .page__contact {
    padding-bottom: 1.25rem
  }
  .page__submit {
    padding-top: 1.25rem
  }
  .page__submit {
    padding-bottom: 1.25rem
  }
  .hero__body {
    padding-top: 2.8125rem
  }
  .hero__body {
    padding-bottom: 2.8125rem
  }
  .hero__body {
    padding-left: 3.75rem
  }
  .hero__body {
    padding-right: 3.75rem
  }
  .about__container {
    gap: 2.5rem
  }
  .career__body {
    padding-top: 2.8125rem
  }
  .career__body {
    padding-bottom: 2.8125rem
  }
  .career__body {
    padding-left: 1.875rem
  }
  .career__body {
    padding-right: 1.875rem
  }
  .why__body {
    padding-top: 2.8125rem
  }
  .why__body {
    padding-bottom: 2.8125rem
  }
  .why__body {
    padding-left: 1.875rem
  }
  .why__body {
    padding-right: 1.875rem
  }
  .why__body {
    gap: 2.5rem
  }
  .why__item {
    padding-top: 3.125rem
  }
  .why__item {
    padding-bottom: 3.125rem
  }
  .benefits__body {
    padding-top: 2.8125rem
  }
  .benefits__body {
    padding-bottom: 2.8125rem
  }
  .benefits__body {
    padding-left: 1.875rem
  }
  .benefits__body {
    padding-right: 1.875rem
  }
  .enrollment__body {
    padding-top: 2.8125rem
  }
  .enrollment__body {
    padding-bottom: 2.8125rem
  }
  .enrollment__body {
    padding-left: 1.875rem
  }
  .enrollment__body {
    padding-right: 1.875rem
  }
  .enrollment__body {
    gap: 2.5rem
  }
  .enrollment__item {
    padding-top: 3.125rem
  }
  .enrollment__item {
    padding-bottom: 3.125rem
  }
  .contact__body {
    padding-top: 2.8125rem
  }
  .contact__body {
    padding-bottom: 2.8125rem
  }
  .contact__body {
    padding-left: 1.875rem
  }
  .contact__body {
    padding-right: 1.875rem
  }
  .submit__list {
    gap: 2.5rem
  }
  .submit__info {
    padding-top: 3.125rem
  }
  .submit__info {
    padding-bottom: 3.125rem
  }
  .submit__info {
    padding-left: 3.75rem
  }
  .submit__info {
    padding-right: 3.75rem
  }
}
@media (max-width:20em) {
  .button {
    padding-top: 1.25rem
  }
  .button {
    padding-bottom: 1.25rem
  }
  .button {
    padding-left: 1.25rem
  }
  .button {
    padding-right: 1.25rem
  }
  .title {
    font-size: 1.75rem
  }
  .title--margin {
    margin-left: -1.25rem
  }
  [class*=__title] {
    padding-top: 1.25rem
  }
  [class*=__title] {
    padding-bottom: 1.25rem
  }
  [class*=__title] {
    padding-left: 1.25rem
  }
  [class*=__title] {
    padding-right: 1.25rem
  }
  [class*=__item] {
    padding-top: 1.25rem
  }
  [class*=__item] {
    padding-bottom: 1.25rem
  }
  [class*=__item] {
    padding-left: 1.25rem
  }
  [class*=__item] {
    padding-right: 1.25rem
  }
  .text {
    font-size: 1.5rem
  }
  .img-before-right::before {
    width: 9.375rem
  }
  .img-before-right::before {
    height: 9.375rem
  }
  .img-before-left::before {
    width: 9.375rem
  }
  .img-before-left::before {
    height: 9.375rem
  }
  .footer__container {
    padding-top: 2.5rem
  }
  .footer__container {
    padding-bottom: 2.5rem
  }
  .footer__list {
    gap: .9375rem
  }
  .footer__link {
    font-size: 1.5rem
  }
  .footer__copy {
    font-size: 1.25rem
  }
  .page__hero {
    padding-top: 1.25rem
  }
  .page__hero {
    padding-bottom: .625rem
  }
  .page__about {
    padding-top: .625rem
  }
  .page__about {
    padding-bottom: .625rem
  }
  .page__career {
    padding-top: .625rem
  }
  .page__career {
    padding-bottom: .625rem
  }
  .page__why {
    padding-top: .625rem
  }
  .page__why {
    padding-bottom: .625rem
  }
  .page__benefits {
    padding-top: .625rem
  }
  .page__benefits {
    padding-bottom: .625rem
  }
  .page__enrollment {
    padding-top: .625rem
  }
  .page__enrollment {
    padding-bottom: .625rem
  }
  .page__contact {
    padding-top: .625rem
  }
  .page__contact {
    padding-bottom: .625rem
  }
  .page__submit {
    padding-top: .625rem
  }
  .page__submit {
    padding-bottom: .625rem
  }
  .hero__body {
    padding-top: 1.25rem
  }
  .hero__body {
    padding-bottom: 1.25rem
  }
  .hero__body {
    padding-left: 1.25rem
  }
  .hero__body {
    padding-right: 1.25rem
  }
  .about__container {
    gap: 1.25rem
  }
  .career__body {
    padding-top: 1.25rem
  }
  .career__body {
    padding-bottom: 1.25rem
  }
  .career__body {
    padding-left: 1.25rem
  }
  .career__body {
    padding-right: 1.25rem
  }
  .why__body {
    padding-top: 1.25rem
  }
  .why__body {
    padding-bottom: 1.25rem
  }
  .why__body {
    padding-left: 1.25rem
  }
  .why__body {
    padding-right: 1.25rem
  }
  .why__body {
    gap: 1.25rem
  }
  .why__item {
    padding-top: 1.25rem
  }
  .why__item {
    padding-bottom: 1.25rem
  }
  .benefits__body {
    padding-top: 1.25rem
  }
  .benefits__body {
    padding-bottom: 1.25rem
  }
  .benefits__body {
    padding-left: 1.25rem
  }
  .benefits__body {
    padding-right: 1.25rem
  }
  .enrollment__body {
    padding-top: 1.25rem
  }
  .enrollment__body {
    padding-bottom: 1.25rem
  }
  .enrollment__body {
    padding-left: 1.25rem
  }
  .enrollment__body {
    padding-right: 1.25rem
  }
  .enrollment__body {
    gap: 1.25rem
  }
  .enrollment__item {
    padding-top: 1.25rem
  }
  .enrollment__item {
    padding-bottom: 1.25rem
  }
  .contact__body {
    padding-top: 1.25rem
  }
  .contact__body {
    padding-bottom: 1.25rem
  }
  .contact__body {
    padding-left: 1.25rem
  }
  .contact__body {
    padding-right: 1.25rem
  }
  .submit__list {
    gap: 1.25rem
  }
  .submit__info {
    padding-top: 1.25rem
  }
  .submit__info {
    padding-bottom: 1.25rem
  }
  .submit__info {
    padding-left: 1.25rem
  }
  .submit__info {
    padding-right: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .submit__info {
    flex: 1 1 40%
  }
}
@media (max-width:47.99875em) {
  [class*=__item] {
    flex: 1 1 100%
  }
  [class*=__item].about__item--red {
    min-height: 18.75rem
  }
  [class*=__item].why__item--red {
    min-height: 18.75rem
  }
  [class*=__item].enrollment__item--red {
    min-height: 18.75rem
  }
  .hero__container {
    gap: 1.875rem;
    flex-direction: column
  }
  .career__container {
    gap: 1.875rem;
    flex-direction: column-reverse
  }
  .career__body {
    padding: 0
  }
  .why__body {
    flex-direction: column;
    padding: 0
  }
  .benefits__container {
    gap: 1.875rem;
    flex-direction: column
  }
  .benefits__body {
    padding: 0
  }
  .enrollment__body {
    flex-direction: column;
    padding: 0
  }
  .contact__container {
    gap: 1.875rem;
    flex-direction: column-reverse
  }
  .contact__body {
    padding: 0
  }
  .submit__info {
    flex: 1 1 90%
  }
}
@media (min-width:20em) and (max-width:117.5em) {
  @supports (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .button {
      padding-top: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .button {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .button {
      padding-bottom: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .button {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .button {
      padding-left: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .button {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .button {
      padding-right: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .button {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.0961538462rem + 3.2692307692vw ,4.9375rem)) {
    .title {
      font-size: clamp(1.75rem ,1.0961538462rem + 3.2692307692vw ,4.9375rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.0961538462rem + 3.2692307692vw ,4.9375rem)) {
    .title {
      font-size: calc(1.75rem + 3.1875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (margin-left:clamp(-2.5rem ,-0.9935897436rem + -1.2820512821vw ,-1.25rem)) {
    .title--margin {
      margin-left: clamp(-2.5rem ,-.9935897436rem + -1.2820512821vw ,-1.25rem)
    }
  }
  @supports not (margin-left:clamp(-2.5rem ,-0.9935897436rem + -1.2820512821vw ,-1.25rem)) {
    .title--margin {
      margin-left: calc(-1.25rem + -1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    [class*=__title] {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    [class*=__title] {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    [class*=__title] {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    [class*=__title] {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    [class*=__title] {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    [class*=__title] {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    [class*=__title] {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    [class*=__title] {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    [class*=__item] {
      padding-top: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    [class*=__item] {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    [class*=__item] {
      padding-bottom: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    [class*=__item] {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    [class*=__item] {
      padding-left: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    [class*=__item] {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    [class*=__item] {
      padding-right: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    [class*=__item] {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.4230769231rem + 0.3846153846vw ,1.875rem)) {
    .text {
      font-size: clamp(1.5rem ,1.4230769231rem + .3846153846vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.4230769231rem + 0.3846153846vw ,1.875rem)) {
    .text {
      font-size: calc(1.5rem + .375 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (width:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-right::before {
      width: clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)
    }
  }
  @supports not (width:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-right::before {
      width: calc(9.375rem + 13.625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (height:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-right::before {
      height: clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)
    }
  }
  @supports not (height:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-right::before {
      height: calc(9.375rem + 13.625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (width:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-left::before {
      width: clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)
    }
  }
  @supports not (width:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-left::before {
      width: calc(9.375rem + 13.625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (height:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-left::before {
      height: clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)
    }
  }
  @supports not (height:clamp(9.375rem ,6.5801282051rem + 13.9743589744vw ,23rem)) {
    .img-before-left::before {
      height: calc(9.375rem + 13.625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)) {
    .footer__container {
      padding-top: clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)) {
    .footer__container {
      padding-top: calc(2.5rem + 6.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)) {
    .footer__container {
      padding-bottom: clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.0897435897rem + 7.0512820513vw ,9.375rem)) {
    .footer__container {
      padding-bottom: calc(2.5rem + 6.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.7451923077rem + 0.9615384615vw ,1.875rem)) {
    .footer__list {
      gap: clamp(.9375rem ,.7451923077rem + .9615384615vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.7451923077rem + 0.9615384615vw ,1.875rem)) {
    .footer__list {
      gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.4230769231rem + 0.3846153846vw ,1.875rem)) {
    .footer__link {
      font-size: clamp(1.5rem ,1.4230769231rem + .3846153846vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.4230769231rem + 0.3846153846vw ,1.875rem)) {
    .footer__link {
      font-size: calc(1.5rem + .375 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1987179487rem + 0.2564102564vw ,1.5rem)) {
    .footer__copy {
      font-size: clamp(1.25rem ,1.1987179487rem + .2564102564vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1987179487rem + 0.2564102564vw ,1.5rem)) {
    .footer__copy {
      font-size: calc(1.25rem + .25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .page__hero {
      padding-top: clamp(1.25rem ,.9935897436rem + 1.2820512821vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .page__hero {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__hero {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__hero {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__about {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__about {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__about {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__about {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__career {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__career {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__career {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__career {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__why {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__why {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__why {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__why {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__benefits {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__benefits {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__benefits {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__benefits {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__enrollment {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__enrollment {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__enrollment {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__enrollment {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__contact {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__contact {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__contact {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__contact {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__submit {
      padding-top: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__submit {
      padding-top: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__submit {
      padding-bottom: clamp(.625rem ,.4967948718rem + .641025641vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.4967948718rem + 0.641025641vw ,1.25rem)) {
    .page__submit {
      padding-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .hero__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .hero__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .hero__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .hero__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .hero__body {
      padding-left: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .hero__body {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .hero__body {
      padding-right: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .hero__body {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .about__container {
      gap: clamp(1.25rem ,.9935897436rem + 1.2820512821vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .about__container {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .career__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .career__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .career__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .career__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .career__body {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .career__body {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .career__body {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .career__body {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .why__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .why__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .why__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .why__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .why__body {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .why__body {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .why__body {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .why__body {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .why__body {
      gap: clamp(1.25rem ,.9935897436rem + 1.2820512821vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .why__body {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .why__item {
      padding-top: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .why__item {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .why__item {
      padding-bottom: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .why__item {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .benefits__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .benefits__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .benefits__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .benefits__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .benefits__body {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .benefits__body {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .benefits__body {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .benefits__body {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .enrollment__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .enrollment__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .enrollment__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .enrollment__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .enrollment__body {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .enrollment__body {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .enrollment__body {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .enrollment__body {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .enrollment__body {
      gap: clamp(1.25rem ,.9935897436rem + 1.2820512821vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .enrollment__body {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .enrollment__item {
      padding-top: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .enrollment__item {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .enrollment__item {
      padding-bottom: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .enrollment__item {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .contact__body {
      padding-top: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .contact__body {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .contact__body {
      padding-bottom: clamp(1.25rem ,.9294871795rem + 1.6025641026vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.9294871795rem + 1.6025641026vw ,2.8125rem)) {
    .contact__body {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .contact__body {
      padding-left: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .contact__body {
      padding-left: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .contact__body {
      padding-right: clamp(1.25rem ,1.1217948718rem + .641025641vw ,1.875rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,1.1217948718rem + 0.641025641vw ,1.875rem)) {
    .contact__body {
      padding-right: calc(1.25rem + .625 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .submit__list {
      gap: clamp(1.25rem ,.9935897436rem + 1.2820512821vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.9935897436rem + 1.2820512821vw ,2.5rem)) {
    .submit__list {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .submit__info {
      padding-top: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .submit__info {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .submit__info {
      padding-bottom: clamp(1.25rem ,.8653846154rem + 1.9230769231vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.8653846154rem + 1.9230769231vw ,3.125rem)) {
    .submit__info {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .submit__info {
      padding-left: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .submit__info {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .submit__info {
      padding-right: clamp(1.25rem ,.7371794872rem + 2.5641025641vw ,3.75rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.7371794872rem + 2.5641025641vw ,3.75rem)) {
    .submit__info {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem)/ 97.5)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background: url(../img/bgRed.svg) 0 0/cover no-repeat;
    color: #377de5
  }
  .text-red:hover {
    color: #377de5
  }
  .footer__link:hover {
    color: #ff4a4a
  }
  .footer__copy-link:hover {
    color: #ff4a4a
  }
  .contact__link:hover {
    color: #ff4a4a
  }
  .submit__info:hover {
    background: url(../img/bgRed.svg) 0 0/cover no-repeat;
    color: #377de5
  }
}